<header>
	<div id="mobile-menu">
	</div>
	<div class="top-main container center-block">
		<div class="col-xs-12 col-sm-4">
			<a class="scroll" href="#/">
				<img class="codewarrior-logo" src="/img/code-warrior-logo.png" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-8">
			<div class="col-xs-12">
				<ul class="no-style-and-inline pull-right">
					<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
					<li><a href="#" target="_blank"><i class="fa fa-github"></i></a></li>
				</ul>
			</div>
			<div class="col-xs-12">
				<nav id="menu" class="pull-right">
					<li class="hvr-bounce-to-right"><a class="scroll" href="#/about">About</a></li>
					<li class="hvr-bounce-to-right"><a class="scroll" href="#/members">Members</a></li>
					<li class="hvr-bounce-to-right"><a class="scroll" href="#/clients">Clients</a></li>
					<li class="hvr-bounce-to-right"><a class="scroll" href="#/blog">Blog</a></li>
					<li class="hvr-bounce-to-right"><a class="scroll" href="#/career">Career</a></li>
					<li class="hvr-bounce-to-right"><a class="scroll" href="#/contact">Contact</a></li>
				</nav>
			</div>
		</div>
	</div>
</header>
<script type="text/javascript" src="js/shared/header.js"></script>